.bg-primary-col {
    background-image: linear-gradient(#e9e7e3, #d4d4d4);
    min-height: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-secondary-col {
    background-image: linear-gradient(#ffc4b2, rgba(177, 124, 93, 0.788));
}

.nav-bar-right-border {
    border-right-color: rgba(43, 36, 36, 0.76) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
}

.nav-bar-content {
    margin-right: auto;
    margin-left: auto;
}

.nav-bar-item {
    margin-right: clamp(12px, 24px, 48px);
    margin-left: clamp(12px, 24px, 48px);
    font-size: clamp(16px, 24px, 36px);
}


.section-one-image {
    min-width: 1500px;
    min-height: 1158px;
    background-image: url("assets/chongquing-laundromat-1mg - Ling Sigstedt.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: visible;
    position: relative;
    top: -100px;
    z-index: 1 !important;
}

.section-one-box {
    min-height: clamp(140px, 160px, 180px);
    padding: 20px !important;
    min-width: fit-content;
    max-width: max-content;
    background-color: #F4F0EC;
    position: relative;
    left: calc(70% - 200px);
    top: -650px;
    z-index: 2 !important;
    border-radius: 16px;
    border-style: solid;
    border-color: #D9D9D9;
    border-width: calc(2px, 2px, 4px);
}
.section-two-box-img {
    min-height: 404px;
    min-width: 300px;
    background-size: cover;
    background-image: url("assets/Kang_Stephanie_03 - Stephanie Kang.jpg");
    float: left;
    margin-right: clamp(20px, 36px, 48px);
}

.section-two-box {
    min-height: clamp(100px, 120px, 120px);
    padding: 20px !important;
    margin-top: 40px;
    position: relative;
    min-width: fit-content;
    max-width: max-content;
    background-color: #f4f0ec00;
    background-clip: no-clip;
    z-index: 2 !important;
    border-radius: 12px;
    border-width: clamp(2px, 4px, 8px);
    border-color: #D9D9D9;
    border-style: solid;
}

.section-three-box {
    min-height: clamp(100px, 120px, 120px);
    min-width: 500px;
    max-width: 600px;
    padding: 20px !important;
    margin-top: 40px;
    position: relative;
    left: -20%;
    top: -200px;
    background-color: #d4d4d4;
    z-index: 2 !important;
    border-radius: 12px;
    border-width: clamp(2px, 4px, 8px);
    border-color: #D9D9D9;
    border-style: solid;
}

.section-four-box {
    min-height: clamp(100px, 120px, 120px);
    min-width: 600px;
    max-width: 800px;
    padding: 20px !important;
    margin-top: 40px;
    position: relative;
    left: 10%;
    top: -200px;
    background-color: #d4d4d4;
    z-index: 2 !important;
    border-radius: 12px;
    border-width: clamp(2px, 4px, 8px);
    border-color: #D9D9D9;
    border-style: solid;
}

.section-five-box {
    min-height: clamp(100px, 120px, 120px);
    min-width: 600px;
    max-width: 800px;
    padding: 20px !important;
    margin-top: 40px;
    position: relative;
    left: 10%;
    top: -200px;
    background-color: #d4d4d4;
    z-index: 2 !important;
    border-radius: 12px;
    border-width: clamp(2px, 4px, 8px);
    border-color: #D9D9D9;
    border-style: solid;
}

.section-two-important {
    font-size: 40px;
    margin-top: 40px;
}

.section-box-txt {
    text-align: left;
}

.section-three-box-txt {
    text-align: left;
    text-wrap: pretty;
    margin-bottom: 20px;
}

.section-three-link {
    text-align: left;
    margin-top: 20px;
}
.section-three-link:hover {
    text-decoration: underline;
    cursor:grab;
}

.section-four-box-txt {
    text-align: left;
    text-wrap: pretty;
    margin-bottom: 20px;
}

.section-four-link {
    text-align: left;
    margin-top: 20px;
}
.section-four-link:hover {
    text-decoration: underline;
    cursor:grab;
}


.section-five-box-txt {
    text-align: left;
    text-wrap: pretty;
    margin-bottom: 20px;
}

.section-five-link {
    text-align: left;
    margin-top: 20px;
}
.section-five-link:hover {
    text-decoration: underline;
    cursor:grab;
}


.section-txt-link {
    margin-top: clamp(8px, 12px, 12px);
    margin-bottom: clamp(4px, 8px, 18px);
}


.image-one {
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.nav-bar-logo {
    margin-right: clamp(12px, 16px, 24px);
    margin-left: clamp(12px, 16px, 24px);
    overflow: visible;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.body-sec-btn {
    text-decoration: none !important;
    color:#040404;
}

.body-sec-btn:hover {
    text-decoration: underline !important;
    color:#B17942;
}

.section-box-txt {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: clamp(4px, 8px, 12px);
}

.nav-bar-active-item {
    background-color: #B17942;
}

.ibarra-real nova-large-hdr-txt {
    font-family: "Ibarra Real Nova", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.montserrat-reg-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.montserrat-lght-300 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}  

.logo {
    overflow: visible;
    position:absolute;
    top: 0;
    min-height: clamp(32px, 48px, 64px);
    min-width: clamp(23px, 48px, 64px);
    max-height: clamp(64px, 64px, 80px);
    max-width: clamp(64px, 64px, 80px);

}

.nav-bar-txt-col {
    color: #040404 !important;
}

.nav-bar-bg-col {
    background-color: #E8B76C;
}

.nav-bar-item:hover{
    background-color: #B17942;
}

.nav-bar-vertical-orient {
    margin-bottom: auto !important;
    padding-top: clamp(4px, 8px, 16px);
    padding-bottom: clamp(4px, 8px, 16px);
    margin-top: auto !important;
}

.nav-bar-header {
    padding-left: clamp(2px, 4px, 8px) !important;
    padding-right: clamp(2px, 4px, 8px) !important;
    padding-top: clamp(2px, 4px, 8px) !important;
    padding-bottom: clamp(2px, 4px, 8px) !important;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
}

.nav-bar-body {
    padding-left: clamp(4px, 8px, 16px) !important;
    padding-top: clamp(4px, 8px, 16px) !important;
}

.nav-bar-header-border {
    border-bottom-color: rgba(59, 59, 59, 0.384);;
    border-bottom-width: clamp(4px, 8px, 16px);
    border-bottom-style: solid;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


.page-body {
    min-height: 100% !important;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-menu-btn {
    font-size: calc(clamp(32px, 48px, 64px) - 4px) !important;
  }


.body-heading {
    min-width: 100%;
    border-top-color: black;
    border-top-width: clamp(2px, 4px, 8px);
    border-top-style: ridge;
    border-bottom-width: clamp(2px, 4px, 8px);
    border-bottom-color: black;
    border-bottom-style: ridge;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#525150e5, #464545b2);
}

.body-heading-text {
    font-size: clamp(32px, 48px, 64px);
}

.sticky-nav {
    position: sticky !important;
    top: 0;
    z-index: 99 !important;
}

.body-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 2000px;
    background-image: linear-gradient(#d4d4d4, #d4d4d4);
}

.section-text {
    font-size: clamp(24px, 32px, 48px);
}

.home-page-section {
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 0;
    min-height: clamp(200px, 280px, 480px);
    height: fit-content;
    z-index: 2;
}

.section-2 {
    position: relative;
    top: -240px;
    min-width: 100%;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(20px, 40px, 60px);
    padding-bottom: clamp(120px, 140px, 160px);


}

.section-3 {
    position: relative;
    top: -240px;
    min-width: 100%;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-4 {
    position: relative;
    top: -240px;
    min-width: 100%;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-5 {
    position: relative;
    top: -240px;
    min-width: 100%;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home-page-section-content {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    text-align: center;

}

.section-header {
    max-height: clamp(24px, 32px, 48px);
    font-size: clamp(48px, 64px, 72px);
}

.section-three-header {
    position: relative;
    top: -580px !important;
    text-shadow: -1px -1px 0 #d4d4d4, 1px -1px 0 #d4d4d4, -1px 1px 0 #d4d4d4, 1px 1px 0 #d4d4d4;  
}

.test-shadow {
    text-shadow: -1px -1px 0 #fdfdfd, 1px -1px 0 #fdfdfd, -1px 1px 0 #fdfdfd, 1px 1px 0 #fdfdfd;

}

.section-three-image {
    min-width: 100%;
    min-height: 1015px;
    background-position: center 0;
    background-image: url("assets/Tsutsui_Akemi_03.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1 !important;
}

.section-four-image {
    min-width: 100%;
    min-height: 1000px;
    background-position: center 0;
    background-image: url("assets/Zen_Kate_03\ -\ Kaitlin\ Zhang.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 95%;
    z-index: 1 !important;
}

.section-five-image {
    min-width: 100%;
    min-height: 1000px;
    background-position: center 0;
    background-image: url("assets/clem-onojeghuo-wiyl0_FGGKo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1 !important;
}

.page-footer {
    background-color: #040404;
    display: flex;
    flex-direction: column;
}

.footer-sponsors {
    display: flex;
    flex-direction: row;
}
