.bg-primary-col {
    background-image: linear-gradient(#e9e7e3, #d4d4d4);
    min-height: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-secondary-col {
    background-image: linear-gradient(#ffc4b2, rgba(177, 124, 93, 0.788));
}

.nav-bar-right-border {
    border-right-color: rgba(43, 36, 36, 0.76) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
}

.nav-bar-content {
    margin-right: auto;
    margin-left: auto;
}

.nav-bar-item {
    margin-right: clamp(12px, 24px, 48px);
    margin-left: clamp(12px, 24px, 48px);
    font-size: clamp(16px, 24px, 36px);
}


.section-one-image {
    min-width: 1500px;
    min-height: 1158px;
    background-image: url("assets/chongquing-laundromat-1mg - Ling Sigstedt.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: visible;
    position: relative;
    top: -100px;
    z-index: 1 !important;
}

.section-one-box {
    min-height: clamp(120px, 120px, 160px);
    padding: 16px !important;
    min-width: fit-content;
    max-width: max-content;
    background-color: #F4F0EC;
    position: relative;
    left: 20%;
    top: -950px;
    z-index: 2 !important;
    border-radius: 32px;
    border-style: solid;
    border-color: #D9D9D9;
    border-width: calc(2px, 4px, 8px);
}

.section-one-txt {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.temp {
    min-width: 100%;
    min-height: 1px;
    max-width: 1px;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.image-one {
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.nav-bar-logo {
    margin-right: clamp(12px, 16px, 24px);
    margin-left: clamp(12px, 16px, 24px);
    overflow: visible;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.body-sec-btn {
    text-decoration: none !important;
    color:#040404;
}

.body-sec-btn:hover {
    text-decoration: underline !important;
    color:#B17942;
}

.section-box-txt {
    white-space: nowrap;
    display: inline-block;
}

.nav-bar-active-item {
    background-color: #B17942;
}

.ibarra-real nova-large-hdr-txt {
    font-family: "Ibarra Real Nova", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.montserrat-reg-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.montserrat-lght-300 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}  
  


.logo {
    overflow: visible;
    position:absolute;
    top: 0;
    min-height: clamp(32px, 48px, 64px);
    min-width: clamp(23px, 48px, 64px);
    max-height: clamp(64px, 64px, 80px);
    max-width: clamp(64px, 64px, 80px);

}

.nav-bar-txt-col {
    color: #040404 !important;
}

.nav-bar-bg-col {
    background-color: #E8B76C;
}

.nav-bar-item:hover{
    background-color: #B17942;
}

.nav-bar-vertical-orient {
    margin-bottom: auto !important;
    padding-top: clamp(4px, 8px, 16px);
    padding-bottom: clamp(4px, 8px, 16px);
    margin-top: auto !important;
}

.nav-bar-header {
    padding-left: clamp(2px, 4px, 8px) !important;
    padding-right: clamp(2px, 4px, 8px) !important;
    padding-top: clamp(2px, 4px, 8px) !important;
    padding-bottom: clamp(2px, 4px, 8px) !important;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
}

.nav-bar-body {
    padding-left: clamp(4px, 8px, 16px) !important;
    padding-top: clamp(4px, 8px, 16px) !important;
}

.nav-bar-header-border {
    border-bottom-color: rgba(59, 59, 59, 0.384);;
    border-bottom-width: clamp(4px, 8px, 16px);
    border-bottom-style: solid;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


.page-body {
    min-height: 100% !important;
}

.menu-style {
    list-style-type:none;
    min-width: 100%;
    padding-left: clamp(4px, 8px, 16px);
}

.menu-option {
    font-size: larger;
    color: black;
    text-decoration: none;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-menu-btn {
    font-size: calc(clamp(32px, 48px, 64px) - 4px) !important;
  }


.body-heading {
    min-width: 100%;
    border-top-color: black;
    border-top-width: clamp(2px, 4px, 8px);
    border-top-style: ridge;
    border-bottom-width: clamp(2px, 4px, 8px);
    border-bottom-color: black;
    border-bottom-style: ridge;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#525150e5, #464545b2);
}

.body-heading-text {
    font-size: clamp(32px, 48px, 64px);
}

.sticky-nav {
    position: sticky !important;
    top: 0;
    z-index: 99 !important;
}

.body-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 2000px;
    background-image: linear-gradient(#d4d4d4, #d4d4d4);
}

.section-text {
    font-size: clamp(24px, 32px, 48px);
}

.home-page-section {
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 0;
    min-height: clamp(200px, 280px, 480px);
    height: fit-content;
    z-index: 2;
}

.home-page-section-content {
    margin-left: auto;
    margin-right: auto;
}